*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: #ECECEC;
    --bg-gradient:linear-gradient( #F6F6F6,#A5A5A5);
    --color-sobre:#4b4b4b;
    --text-color:#ECECEC;
}
.light{
    --bg-color: #121212;
    --color-sobre:#ECECEC;
    --text-color:#121212;
}
body{
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
}
#conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    z-index: 2;
    gap: 1%;
    margin: 2%;
}
.navation1{
    background-image: var(--bg-gradient);
    height: 390px;
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
}
.navation2{
    background-image: var(--bg-gradient);
    height: 390px;
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
}
.navation3{
    background-image: var(--bg-gradient);
    height: 390px;
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    margin: 17%;
}
#socialmedia{
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 16px;
    font-size: 40px;
}
#socialmedia a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 9px;
    background: #D5D5D5;
    border-radius: 15px;
    transition: 0.2s;
}
#socialmedia a:hover{
    background: rgb(167, 167, 167);
    padding: 9px;
    border-radius: 15px;
}
.path{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    z-index: 1;
}
.foto{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    z-index: 1;
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.fotoPerfil{
    margin: 2%;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--color-sobre);
    color: var(--text-color);
    border-radius: 10px;
    height: 50vh;
    width: 30vw;
    gap: 15px;
}
.textMe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0;
}
button{
    position: absolute;
    bottom: 20;
    right: 20px;
    padding: 12px;
    border-radius: 50px;
}
.back{
  margin: 2%;
    color: var(--color-sobre);
}